.App-marginals {
  background-color: #282c34;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: flex-start;
}

.App-header {
  min-height: 20vh;
}

.App-header > * {
  display: inline-flex;
}

.App-header > *:not(:last-child) {
  margin-right: 10px;
}

.App-header img {
  background-color: white;
  padding: 5px;
  margin: 10px;
  border-radius: 100%;
}

.App-footer {
  min-height: 10vh;
  padding: 10px;
}

.App-footer a {
  text-decoration: none;
  color: #d9b9a2;
}
.App-footer a:hover {
  color: #cfc698;
}

.App-body{
  min-height: 70vh;
  max-width: 90vw;
  margin: auto;
}

.comment{
  font-size: small;
}