body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chip {
  padding: 5px 10px;
  border: 0.5pt solid #282c34; 

  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.chip:not(:last-child){
  margin-right: 5px;
}

.chip-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}